/* Place CSS styles here */
.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.cherry-swash-bold {
  font-family: "Cherry Swash", serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Cherry Swash", serif; 
}

body {
    background-color: lightcyan;
    font-size: 16px;
    font-family: "Spectral", serif;
}

img {
    width: 250px;
}

a {
    color: #300a53;
}

a:hover {
    color: #bd118c;
}

ul {

}

li {

}

p {
color: #461700;
}

h1 {
color: #fffcf6;
text-shadow: 1px 2px 3px #45a3a6;
background-color: #024f52;
text-align: center;
border: 1px solid #fffcf6;
font-size: 70px;
}

h2 {
color: #024f52;
text-shadow: 1px 2px 3px #fffcf6;
font-size: 44px;
}

div p {

}

.wrapper {
max-width: 800px;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
background-color: #45a3a6;
padding: 20px;
border: 1px solid #300a53;
border-radius: 20px;
}

.home-links {

}

#top {

}