/* Place CSS styles here */
.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.cherry-swash-bold {
  font-family: "Cherry Swash", serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Cherry Swash", serif; 
}

body {
    background-color: #a7e6e9;
    font-size: 16px;
    font-family: "Spectral", serif;
}

@media (min-width: 768px) {
  body {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

.blue{
  background-color: #5b7ecb;
}
header {
  position: sticky;
  top: 0;
  background-color: #45a3a6;
}

.hero {
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
background-color: #F6CCFF;
border: 1px solid #300a53;
border-radius: 20px;
}
.hero-content {
width: 90%; 
margin: 0 auto; 
text-align: center;
}
@media (max-width: 768px) { 
.hero-content {
width: 100%; 
}
}


img {
    max-width: 100%;
    height: auto;
}

a {
    color: #300a53;
}

a:hover {
    color: #bd118c;
}

p {
color: #461700;
}

h1 {
color: #fffcf6;
text-shadow: 1px 2px 3px #45a3a6;
text-align: center;
font-size: 70px;
}

h2, h3 {
color: #024f52;
text-shadow: 1px 2px 3px #fffcf6;
text-align: center;
}



.about-section {
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.about-section-image-wrapper {
align-self: center;
}

.wrapper {
max-width: 800px;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
background-color: #c8e1e1;
padding: 20px;
border: 1px solid #300a53;
border-radius: 20px;
}

.main-nav {
  display:flex;
  justify-content: center;
  gap: 20px; 
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: #c8e1e1;
}


footer {
background-color: #45a3a6;
color: #c8e1e1;
}

.images-yay {
  display: flex;
  justify-content: center;
  gap: 40px;
}
#top {

}